In [8]:
import pandas as pd
from dotenv import load_dotenv

In [9]:
API_Key = 'A9HTPYBVOW6MI2HN'

In [13]:
#Crypto API
daily_df = pd.read_csv(f'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_WEEKLY&symbol=BTC&market=CNY&apikey={API_Key}&datatype=csv')

In [14]:
daily_df

,timestamp,open (CNY),high (CNY),low (CNY),close (CNY),open (USD),high (USD),low (USD),close (USD),volume,market cap (USD)
0,2022-02-17,266334.176180,283419.566480,263148.006592,278455.857648,42053.65,44751.40,41550.56,43967.64,101144.197260,101144.197260
1,2022-02-13,268406.525884,290193.557200,263751.497220,266334.239512,42380.87,45821.00,41645.85,42053.66,301990.478770,301990.478770
2,2022-02-06,239912.699100,270148.979200,229578.500000,268406.525884,37881.75,42656.00,36250.00,42380.87,258946.953220,258946.953220
3,2022-01-30,229543.984060,246488.017336,208471.021044,239912.762432,36244.55,38919.98,32917.17,37881.76,353702.626391,353702.626391
4,2022-01-23,272781.437112,275525.866000,215379.465600,229543.984060,43071.66,43505.00,34008.00,36244.55,354513.984320,354513.984320
...,...,...,...,...,...,...,...,...,...,...,...
138,2019-06-30,69069.562540,88474.804000,66657.563320,68741.186120,10905.95,13970.00,10525.10,10854.10,684152.508772,684152.508772
139,2019-06-23,56701.139600,72151.867648,56682.140000,69070.322524,8953.00,11392.64,8950.00,10906.07,378253.003065,378253.003065
140,2019-06-16,48306.926324,59107.755600,47568.665200,56703.229556,7627.57,9333.00,7511.00,8953.33,274072.058371,274072.058371
141,2019-06-09,55263.503200,55738.176540,47148.014056,48310.472916,8726.00,8800.95,7444.58,7628.13,293308.709696,293308.709696
142,2019-06-02,54544.938328,57469.103432,50697.266000,55263.376536,8612.54,9074.26,8005.00,8725.98,292049.043812,292049.043812