In [2]:
import pandas as pd
from dotenv import load_dotenv

ModuleNotFoundError: No module named 'dotenv'

In [1]:
API_Key = 'A9HTPYBVOW6MI2HN'

In [3]:
#Stock API 
sixty_mins = pd.read_csv(f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=60min&apikey={API_Key}&datatype=csv')
#stock_API_Intraday = pd.read_csv('intraday_60min_IBM (1).csv')

In [4]:
sixty_mins

              timestamp      open      high       low     close   volume
0   2022-02-15 20:00:00  129.7000  129.7000  129.7000  129.7000      200
1   2022-02-15 19:00:00  129.9000  129.9200  129.8000  129.8000     1060
2   2022-02-15 18:00:00  129.9400  129.9500  129.9399  129.9399      801
3   2022-02-15 17:00:00  129.9400  130.1400  129.8500  129.9500    78097
4   2022-02-15 16:00:00  129.8600  130.3100  129.7500  129.9900  1035074
..                  ...       ...       ...       ...       ...      ...
95  2022-02-07 05:00:00  135.0512  135.0512  133.5496  133.5496      607
96  2022-02-04 20:00:00  135.6834  135.6834  135.6834  135.6834      150
97  2022-02-04 19:00:00  135.4859  135.5352  135.4859  135.5352     2287
98  2022-02-04 18:00:00  135.3673  135.3673  135.2685  135.2685     1063
99  2022-02-04 17:00:00  135.4859  135.6439  135.4661  135.6340    98256

[100 rows x 6 columns]

In [6]:
test_crypto_api = pd.read_csv(f'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol=BTC&market=CNY&apikey={API_Key}&datatype=csv')

In [7]:
test_crypto_api

,timestamp,open (CNY),high (CNY),low (CNY),close (CNY),open (USD),high (USD),low (USD),close (USD),volume,market cap (USD)
0,2022-02-17,277860.030192,278561.242096,277535.263696,278455.857648,43873.56,43984.28,43822.28,43967.64,566.998200,566.998200
1,2022-02-16,282111.444020,282143.870004,274271.892400,277860.030192,44544.85,44549.97,43307.00,43873.56,28471.872700,28471.872700
2,2022-02-15,269388.615208,283419.566480,268698.866396,282111.507352,42535.94,44751.40,42427.03,44544.86,38095.195760,38095.195760
3,2022-02-14,266334.176180,271329.487680,263148.006592,269388.615208,42053.65,42842.40,41550.56,42535.94,34010.130600,34010.130600
4,2022-02-13,267374.214284,270807.632000,265171.084000,266334.239512,42217.87,42760.00,41870.00,42053.66,17732.081130,17732.081130
...,...,...,...,...,...,...,...,...,...,...,...
995,2019-05-29,55205.681084,55415.500000,53240.679120,54754.820576,8716.87,8750.00,8406.60,8645.68,33880.865922,33880.865922
996,2019-05-28,55431.459664,55722.596868,53899.521916,55197.891248,8752.52,8798.49,8510.63,8715.64,31470.551534,31470.551534
997,2019-05-27,54544.938328,56418.172224,54395.854800,55455.525824,8612.54,8908.32,8589.00,8756.32,51886.768793,51886.768793
998,2019-05-26,50811.263600,55352.168000,49610.615544,54556.908076,8023.00,8740.00,7833.42,8614.43,49652.144567,49652.144567
999,2019-05-25,50440.898064,51246.987760,50085.098888,50826.526612,7964.52,8091.80,7908.34,8025.41,28414.328817,28414.328817